<%- include('../partials/header.ejs')%>



    <img class = "background-img" src="https://xbox-store-checker.com/assets/upload/game/2019/02/optimize/9wzdncrfj3tj-background.jpg" alt="">



    <ul class = "nav">
      <h1>CrimeFlix</h1>
        <li class = "nav-item">
          <a class = "red-button" href = "/user/signin">Sign In</a>
        </li>
    </ul>

      <div class="section1">
        <h2 class = "h2Tag">Unlimited Crime movies, TV shows, and reviews.</h2>
      </div>

      <div class="section2">
        <h3 class = 'h3Text'>Watch anywhere. Cancel Anytime.</h3>
        <h5 class = 'h5Text'>Ready to watch? Enter your email to create or restart your membership</h5>
        <a class = "red-button" href = "/user/register">Register</a>
      </div>

<%- include('../partials/footer.ejs')%>
